/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

@import 'ngx-toastr/toastr';
@import 'bootstrap/scss/bootstrap';


body {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Rubik', sans-serif;
  background: #2D70FD;
  height: 100vh;


}


// custom modal body bootstrap
.modal-body{
  padding: 0;
}
